<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <style>
        canvas {
            border: 1px solid black;
        }
    </style>
    <script src="//cdn.jsdelivr.net/ramda/latest/ramda.min.js"></script>

    <script src="source.js"></script>
    <script src="spline.js"></script>
    <script src="data.js"></script>
    <script src="anim.js"></script>
    <script src="canvas.js"></script>
</head>
<body>
    <script src="layout.js"></script>
</body>
</html>